In [2]:
import pandas as pd

import matplotlib.pyplot as plt

In [3]:
housing_data = pd.read_csv('housing.csv')

housing_data.sample(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
14584,-117.18,32.84,32.0,1351.0,237.0,823.0,269.0,4.2768,167800.0,NEAR OCEAN
136,-122.19,37.83,29.0,1791.0,271.0,661.0,269.0,6.8538,368900.0,NEAR BAY
3981,-118.60,34.19,16.0,14912.0,4183.0,5105.0,3302.0,2.8312,213900.0,<1H OCEAN
9794,-121.77,36.53,18.0,2321.0,358.0,803.0,341.0,10.1854,426000.0,<1H OCEAN
16109,-122.50,37.74,45.0,1771.0,349.0,1098.0,342.0,3.7552,296600.0,NEAR OCEAN

In [4]:
housing_data = housing_data.dropna()

In [5]:
housing_data.shape

(20433, 10)

In [6]:
housing_data.describe()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,20433.000000,20433.000000,20433.000000,20433.000000,20433.000000,20433.000000,20433.000000,20433.000000,20433.000000
mean,-119.570689,35.633221,28.633094,2636.504233,537.870553,1424.946949,499.433465,3.871162,206864.413155
std,2.003578,2.136348,12.591805,2185.269567,421.385070,1133.208490,382.299226,1.899291,115435.667099
min,-124.350000,32.540000,1.000000,2.000000,1.000000,3.000000,1.000000,0.499900,14999.000000
25%,-121.800000,33.930000,18.000000,1450.000000,296.000000,787.000000,280.000000,2.563700,119500.000000
50%,-118.490000,34.260000,29.000000,2127.000000,435.000000,1166.000000,409.000000,3.536500,179700.000000
75%,-118.010000,37.720000,37.000000,3143.000000,647.000000,1722.000000,604.000000,4.744000,264700.000000
max,-114.310000,41.950000,52.000000,39320.000000,6445.000000,35682.000000,6082.000000,15.000100,500001.000000

In [7]:
housing_data.loc[housing_data['median_house_value'] == 500001].count()

longitude             958
latitude              958
housing_median_age    958
total_rooms           958
total_bedrooms        958
population            958
households            958
median_income         958
median_house_value    958
ocean_proximity       958
dtype: int64

In [8]:
housing_data = housing_data.drop(housing_data.loc[housing_data['median_house_value'] == 500001].index)

In [9]:
housing_data.shape

(19475, 10)

In [10]:
housing_data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [11]:
housing_data['ocean_proximity'].unique()

array(['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND'],
      dtype=object)

In [12]:
#Apply One-Hot Encoding
housing_data = pd.get_dummies(housing_data, columns=['ocean_proximity'])

In [13]:
housing_data.shape

(19475, 14)

In [14]:
housing_data.sample(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN
12812,-121.53,38.61,5.0,8149.0,1913.0,2933.0,1616.0,3.6788,178800.0,0,1,0,0,0
6632,-118.16,34.17,46.0,1508.0,261.0,674.0,255.0,3.5909,155400.0,1,0,0,0,0
4180,-118.22,34.09,45.0,1072.0,275.0,996.0,243.0,2.8194,165000.0,1,0,0,0,0
4958,-118.29,34.01,42.0,814.0,223.0,511.0,188.0,2.3942,123200.0,1,0,0,0,0
11865,-121.19,40.23,10.0,1572.0,232.0,247.0,104.0,5.8453,193800.0,0,1,0,0,0

In [15]:
median = housing_data['median_house_value'].median()

median

173800.0

In [16]:
#Calculate those houses having there median_house_value greater than the overall median_house_value. (Should be positive)

In [17]:
housing_data['above_median'] = (housing_data['median_house_value'] - median) > 0

In [18]:
housing_data.sample(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN,above_median
18423,-121.81,37.25,20.0,3398.0,771.0,1231.0,744.0,2.0288,350000.0,1,0,0,0,0,True
6753,-118.09,34.11,45.0,1883.0,275.0,764.0,289.0,6.5078,414800.0,1,0,0,0,0,True
5054,-118.34,34.02,44.0,1527.0,246.0,608.0,245.0,4.0357,187800.0,1,0,0,0,0,True
4494,-118.21,34.06,52.0,470.0,115.0,434.0,123.0,2.0950,109100.0,1,0,0,0,0,False
15972,-122.41,37.71,49.0,1852.0,429.0,1615.0,447.0,3.4950,217800.0,0,0,0,1,0,True

In [ ]:
#Machine Learning Phase

In [27]:
X = housing_data.drop(['median_house_value', 'above_median'], axis=1)
Y = housing_data['above_median']

In [33]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2)

In [29]:
X.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'ocean_proximity_<1H OCEAN', 'ocean_proximity_INLAND',
       'ocean_proximity_ISLAND', 'ocean_proximity_NEAR BAY',
       'ocean_proximity_NEAR OCEAN'],
      dtype='object')

In [34]:
x_train.shape, x_test.shape

((15580, 13), (3895, 13))

In [36]:
y_train.shape, y_test.shape

((15580,), (3895,))

# Train a logistic regression model for price classification

In [37]:
from sklearn.linear_model import LogisticRegression

logistic_model = LogisticRegression(solver= 'liblinear').fit(x_train, y_train)

In [38]:
print("Training_score : " , logistic_model.score(x_train, y_train))

Training_score :  0.8206033376123235

In [39]:
y_pred = logistic_model.predict(x_test) #predict matching y_test values ('above_median (TRUE or FALSE)')

In [40]:
df_pred_actual = pd.DataFrame({'predicted' : y_pred, 'actual': y_test})

df_pred_actual.head(10)

       predicted  actual
16393       True    True
6401        True    True
17197       True    True
2803       False   False
11865       True    True
12946      False   False
16899       True    True
19088       True    True
7982        True   False
14751       True   False

In [41]:
from sklearn.metrics import accuracy_score

print("Testing_score :", accuracy_score(y_test, y_pred))

Testing_score : 0.8213093709884467